#banner {
    width: 100%;
}

#noborder {
    border: none;
}

.card {
    border: none !important;
}

#email,
#btn {
    text-align: center;
}

.myhov a:hover {
    transition: 0.3s;
    font-size: 20px !important;
}

.myhov a img:hover {
    transition: 0.3s;
    height: 30px !important;
}

.myhovnav a:hover {
    text-decoration: underline !important;
}

.myhovnav a{
    display: inline-block;
}